<h1>confirmation page</h1>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "Post" %>
<% end %>

<%= form_with(model:@post, url:new_post_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= link_to 'Back', new_post_path %>
<% end %>